body {
  background-color: rgb(181, 226, 248);
}

body {
  text-align: left;
  font-family: Snell Roundhand, cursive;
  font-size: 150%;
}
.Retour {
  position: absolute;
  top: 4.5%;
  left: 15%;
  border-radius: 12px;
  padding: 10px 24px;
  font-size: 16px;
  background-color: rgb(150, 215, 248);
  border: 2px solid #ecf1f1;
}
table {
  text-align: center;
  border-color: rgb(141, 194, 243);
  border-style: solid;
  border-width: 3px;
  border-collapse: collapse;
}
th {
  border-color: rgb(141, 194, 243);
  border-style: solid;
  border-width: 3px;
}
td {
  border-color: rgb(141, 194, 243);
  border-style: solid;
  border-width: 3px;
}
